body 
{
    background-color: lightcoral;
    font-family: "Audiowide", sans-serif;
}
img 
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 60%;
}
.img-thumbnail
{
    width: 55%;
}
.img-thumbnail:hover
{
    animation: glow 0.5s infinite;
}
video
{
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 10px;
    border: 3px solid white;
}
video:hover
{
    animation: glow2 0.5s infinite;
}
h1 
{
    text-align: center;
    font-size: 4vw;
    color: black;
    text-shadow: 2px 2px 4px grey;
}
h2 
{
    text-align: center;
    font-size: 3vw;
    background-color: white;
}
.container-fluid
{
    padding-top: 5px;
}
.container-fluid-1
{
    background-color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    border-style: groove;
    border-color: lightblue;
}
.container-fluid-2
{
    background-color: #F88379;
    padding-bottom: 5px;
    padding-top: 5px;
}
.container
{
    background-color: white;
    border-radius: 8px;
    border: 2px solid lightblue;
    width: 80%;
}
.bg-1
{
    background-color: white;
}
@keyframes glow
{
    0%
    {
        box-shadow: 0px 0px 30px #D22B2B;
    }
}
@keyframes glow2
{
    0%
    {
        box-shadow: 0px 0px 10px #D22B2B;
    }
}