body 
{
    background: linear-gradient(-45deg, #DC143C, #FAA0A0, #C21E56, #FFFFF0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: "Audiowide", sans-serif;
}
img 
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 60%;
}
.img-thumbnail
{
    width: 55%;
}
.img-thumbnail:hover
{
    animation: glow 0.5s infinite;
}
video
{
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 10px;
    border: 3px solid white;
}
video:hover
{
    animation: glow2 0.5s infinite;
}
h1 
{
    text-align: center;
    font-size: 4vw;
    color: black;
    text-shadow: 2px 2px 4px grey;
}
h2 
{
    color: black;
    text-align: center;
    font-size: 3vw;
}
.container-fluid
{
    padding-top: 5px;
}
.container-fluid-1
{
    background: linear-gradient(-45deg, #FF2400, #F5F5DC, #AA336A, #F9F6EE);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    padding-bottom: 5px;
    padding-top: 5px;
    border-style: groove;
    border-color: #F9F6EE;
}
.container-fluid-2
{
    background: linear-gradient(-45deg, #D22B2B, #FAF9F6, #D70040, #FFFFFF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding-bottom: 5px;
    padding-top: 5px;
}
.container
{
    background-color: white;
    border-radius: 8px;
    border: 2px solid lightblue;
    width: 80%;
}
.bg-1
{
    background-color: white;
}
@keyframes glow
{
    0%
    {
        box-shadow: 0px 0px 30px #D22B2B;
    }
}
@keyframes glow2
{
    0%
    {
        box-shadow: 0px 0px 10px #D22B2B;
    }
}
@keyframes gradient 
{
	0% 
    {
		background-position: 0% 50%;
	}
	50% 
    {
		background-position: 100% 50%;
	}
	100% 
    {
		background-position: 0% 50%;
	}
}